{% extends "layouts/officescope.html" %}
{% block title %}Home{% endblock %}
{% block style %}{% endblock %}
{% block body %}

<div class="container">
	<div class="row">
		<div class="span2">
			<div class="well sidebar-nav favorites">
				<ul class="nav nav-list">
					<li class="nav-header">Favorites</li>
					{% for favorite in favorites %}
					<li>
						<a href="{{ url_for('officescope.home', path=favorite.folder.target) }}">{{ favorite.folder.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="span10">
			<div class="row">
				<div class="span5">
					<div class="form-inline">
						<form action="{{ url_for('officescope.create_folder', path=parent_path) }}" method="POST">
							<fieldset>
								<input type="text" name="folder_name" placeholder="New folder...">
								<button type="Submit" class="btn">Create</button>
							</fieldset>

						</form>
					</div>
				</div>
				<div class="span5">
					<div class="form-inline pull-right">
						<form action="{{ url_for('officescope.upload_file', path=parent_path) }}" method="POST" enctype=multipart/form-data>
							<fieldset>
								<input type="file" name="file">
								<button type="Submit" class="btn">Import</button>
							</fieldset>

						</form>
					</div>
				</div>
			</div>
			<div class="browse">
				<!--<div class="previous">
					{{ previous }}
				</div>-->
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Created at</th>
							<th>Created by</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for folder in folders  %}
						<tr>
							<td class="folder_icon"><a href="{{ url_for('officescope.home', path=folder.target) }}">{{ folder.title }}</a></td>
							<td>Folder</td>
							<td>{{ folder.add_date }}</td>
							<td>{{ folder.owner_id|getusername }}</td>
							<td><a href="{{ url_for('officescope.add_favorite', path = parent_path, folder_id = folder.id) }}"><img src="{{ url_for('static', filename='officescope/img/favorite.png') }}"></a> <span class="delete"><a href="{{ url_for('officescope.delete_folder', path = parent_path, folder_id = folder.id) }}"><img src="{{ url_for('static', filename='officescope/img/delete.png') }}"></a></span></td>
						</tr>
                        {% else %}
                        <tr>
                            <td>
                                <span class="label label-info">Start by creating a new folder</span>
                            </td>
                        </tr>
                    	{% endfor %}

						{% for document in documents  %}
						<tr>
							<td class="document_icon"><a href="{{ document.download_url }}">{{ document.title }}</a></td>
							<td>..</td>
							<td>{{ document.add_date }}</td>
							<td>{{ document.owner_id|getusername }}</td>
							<td><span class="delete_doc"><a href="{{ url_for('officescope.delete_document', path=parent_path, doc_id = document.id) }}"><img src="{{ url_for('static', filename='officescope/img/delete.png') }}"></td>
						</tr>
                        {% else %}
                        <tr>
                            <td>
                            <span class="label label-info">Start by importing a document</span>
                            </td>
                        </tr>
						{% endfor %}
					</tbody>

				</table>

			</div>
		</div>

	</div>
    <hr>
</div>
{% endblock %}
