{% extends "layouts/officescope.html" %}
{% block title %}Home{% endblock %}
{% block style %}
       body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      .browse {
      	min-height: 350px;

  	  }

  	  .folder_icon {
  	  	background: url({{ url_for('static', filename='officescope/img/Folder-256.png') }}) left center no-repeat;

  	  }

  	  .document_icon {
  	  	background: url({{ url_for('static', filename='officescope/img/document2.png') }}) left center no-repeat;

  	  }

  	  .favorites {
  	  margin-top: 85px;
      min-height: 200px;

  	  }

  	  table > tbody > tr > td:first-child {
  	  	padding-left: 40px;
  	  }

  	  .browse table > thead {
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.12),inset 0 0 0 #000;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12),inset 0 0 0 #000;
        box-shadow: 0 1px 1px rgba(0,0,0,0.12),inset 0 0 0 #000;
        border-top: 1px solid #82cffa;
        border-bottom: 1px solid #96c4ea;
        border-left: 1px solid #e7f2fb;
        border-right: 1px solid #e7f2fb;
        background: #f0f9ff url(/static/images/white_pixel-vfltEkXBV.gif) repeat-x;


  	  }

      table {
  	  	font-size: 12px;
  	  }

  	  .flash {
        width: 400px;
        margin: auto;
        background: #CEE5F5;
        padding: 0.5em;
        margin-bottom: 15px;
        text-align: center;
        border: 1px solid #e3e3e3;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

      }

      .delete {
      margin-left: 7px;


      }

      .delete_doc {
      margin-left: 24px;

      }





  	  footer p {
  	  text-align: center;
  	  }

  	  .table-striped tbody > tr:nth-child(odd) > td,
	  .table-striped tbody > tr:nth-child(odd) > th {
  			background-color: #f0f9ff;

	    }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
      	}


      }
{% endblock %}
{% block body %}

<div class="container">
	<div class="row">
		<div class="span2">
			<div class="well sidebar-nav favorites">
				<ul class="nav nav-list">
					<li class="nav-header">Favorites</li>
					{% for favorite in favorites %}
					<li>
						<a href="{{ url_for('officescope.home', path=favorite.folder.target) }}">{{ favorite.folder.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="span10">
			<div class="row">
				<div class="span5">
					<div class="form-inline">
						<form action="{{ url_for('officescope.create_folder', path=parent_path) }}" method="POST">
							<fieldset>
								<input type="text" name="folder_name" placeholder="New folder...">
								<button type="Submit" class="btn">Create</button>
							</fieldset>

						</form>
					</div>
				</div>
				<div class="span5">
					<div class="form-inline pull-right">
						<form action="{{ url_for('officescope.upload_file', path=parent_path) }}" method="POST" enctype=multipart/form-data>
							<fieldset>
								<input type="file" name="file">
								<button type="Submit" class="btn">Import</button>
							</fieldset>

						</form>
					</div>
				</div>
			</div>
			<div class="browse">
				<!--<div class="previous">
					{{ previous }}
				</div>-->
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Created at</th>
							<th>Created by</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for folder in folders  %}
						<tr>
							<td class="folder_icon"><a href="{{ url_for('officescope.home', path=folder.target) }}">{{ folder.title }}</a></td>
							<td>Folder</td>
							<td>{{ folder.add_date }}</td>
							<td>{{ folder.owner_id|getusername }}</td>
							<td><a href="{{ url_for('officescope.add_favorite', path = parent_path, folder_id = folder.id) }}"><img src="{{ url_for('static', filename='officescope/img/favorite.png') }}"></a> <span class="delete"><a href="{{ url_for('officescope.delete_folder', path = parent_path, folder_id = folder.id) }}"><img src="{{ url_for('static', filename='officescope/img/delete.png') }}"></a></span></td>
						</tr>
                        {% else %}
                        <tr>
                            <td>
                                <span class="label label-info">Start by creating a new folder</span>
                            </td>
                        </tr>
                    	{% endfor %}

						{% for document in documents  %}
						<tr>
							<td class="document_icon"><a href="{{ document.download_url }}">{{ document.title }}</a></td>
							<td>..</td>
							<td>{{ document.add_date }}</td>
							<td>{{ document.owner_id|getusername }}</td>
							<td><span class="delete_doc"><a href="{{ url_for('officescope.delete_document', path=parent_path, doc_id = document.id) }}"><img src="{{ url_for('static', filename='officescope/img/delete.png') }}"></td>
						</tr>
                        {% else %}
                        <tr>
                            <td>
                            <span class="label label-info">Start by importing a document</span>
                            </td>
                        </tr>
						{% endfor %}
					</tbody>

				</table>

			</div>
		</div>

	</div>
    <hr>
</div>
{% endblock %}
