{% extends "layouts/shafayet.html" %}
{% block title %}Contact{% endblock %}
{% block style %}
{% endblock %}
{% block contact_active %}class="active"{% endblock %}
{% block content %}
        <div class="container-narrow">
            <div class="row">
                <div class="span8">
                    <blockquote class="contact quote">
                        <p>I am large, I contain multitudes.</p>
                        <p class="pull-right">- Walt Whitman</p>
                    </blockquote>


                </div>
            </div>
            <div class="row">
                <div class="span5">
                    <h1 class="titlefont">R&eacute;sum&eacute;</h1>
                    <p class="about">I'm not seeking for a job opportunity at this moment. My r&eacute;sum&eacute; is only available via email.</p>
                    <p class="about">If you would like more updates on my work, <a href="http://www.linkedin.com/inviteFromProfile?from=profile&amp;key=60416904&amp;firstName=Shafayet&amp;lastName=Khan&amp;authToken=lZLi&amp;authType=NAME_SEARCH&amp;pvs=ps&amp;trk=pp_invite_member_action&amp;goback=%2Efps_PBCK_Shafayet+Khan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2" target="_blank">connect</a> with me on Linkedin.</p>
                </div>
                <div class="span2">
                    {% if success %}
                    <div class="nowrap">
                        <img src="{{ url_for('static', filename='shafayet/img/check.png') }}" class="success">
                        <p>Thanks for sending the message!</p>
                    </div>
                    {% else %}


                    <h1 class="titlefont">Say Hello</h1>

                    <form action="{{ url_for('shafayet.contact') }}" method=post>
                        {{ form.hidden_tag() }}


                        {% for message in form.name.errors %}
                        <div class="flasherror">{{ message }}</div>
                        {% endfor %}
                        {{ form.name(placeholder="Name") }}


                        {% for message in form.email.errors %}
                        <div class="flasherror">{{ message }}</div>
                        {% endfor %}
                        {{ form.email(placeholder="Your email") }}



                        {% for message in form.message.errors %}
                        <div class="flasherror">{{ message }}</div>
                        {% endfor %}
                        {{ form.message(class="messagebox", placeholder="Message", rows="3") }}

                        {{ form.submit(class="btn") }}

                    </form>
                    {% endif %}

                </div>
            </div>
        </div>



{% endblock %}