{% extends "layouts/shafayet.html" %}
{% block title %}Home{% endblock %}
{% block style %}
{% endblock %}
{% block home_active %}class="active"{% endblock %}
{% block content %}
        <div class="container-narrow">
            <div class="row">
                <div class="span6">
                    <div class="mirror">
                        <a href="#"><img src="{{ url_for('static', filename='shafayet/img/me.jpg') }}" alt="Shafayet Khan"></a>
                    </div>
                    <div class="title" itemscope itemtype="http://data-vocabulary.org/Person">
                        <a href='#' itemprop="name"><h1>Shafayet <b>Khan</b></h1></a> <span class="subtitle"><h2>Building things, mostly <span itemprop="title">software</span>.</h2></span>
                    </div>
                </div>
                <div class="span1">
                    <div class="FollowMe">
                        <ul class="unstyled">
                            <li>
                                <a href="{{ url_for('shafayet.about') }}">About</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                                <!--Use google sign in -->
                            </li>
                            <li>
                                <a href="{{ url_for('shafayet.contact') }}">R&eacute;sum&eacute;</a>
                            </li>
                            <li>
                                <a href="http://shafayet.quora.com" target="_blank">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>




            </div>
            <hr>

            <div class="row">
                <div class="span7 socialmedia">
                    <ul class="unstyled">
                        <li>
                            <a href="http://www.twitter.com/shafayetkhan" target="_blank"><img src="{{ url_for('static', filename='shafayet/socialmedia/twitter.png') }}" alt="twitter"></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/pub/shafayet-khan/18/297/5a0" target="_blank"><img src=".{{ url_for('static', filename='shafayet/socialmedia/linkedin.png') }}" alt="linkedin"></a>
                        </li>
                        <li>
                            <a href="http://www.quora.com/Shafayet-Khan" target="_blank"><img src="{{ url_for('static', filename='shafayet/socialmedia/quora.png') }}" alt="quora"></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/102935174556065839863/posts" target="_blank"><img src="{{ url_for('static', filename='shafayet/socialmedia/googleplus.png') }}" alt="google+"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}

